/*---------
    Fonts  
-----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&display=swap');

/* common styles or utilities */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Slab', serif;
}

/*--------------------
    Navbar Area Style  
----------------------*/

.container{
    max-width: 1300px;
    margin: 40px auto;
    margin-bottom: 100px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-tite{
    font-size: 26px;
    color: #3A3A3A;
}
nav a, .fas{
    font-size: 18px;
    margin-right: 30px;
    text-decoration: none;
    color: #3A3A3A;
    padding:3px 5px;
    transition: .4s ease-in-out;
}
nav a:hover{
    border-bottom: 3.5px solid #E02C6D;
    border-radius: 0px 0px 18px 0px;
    color: #E02C6D;
}
nav .fas:hover{
    color: #E02C6D;
}
.active{
    border-bottom: 3.5px solid #E02C6D;
    border-radius: 0px 0px 18px 0px;
    color: #E02C6D;
}
/*---------------------
    Banner Area Style  
-----------------------*/

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    font-size: 55px;
    color: #3A3A3A;
}
.banner-text{
    font-size: 17px;
    color: #3A3A3A;
    margin:20px 0px;
    text-transform:capitalize;
}
.pink-button{
    font-size: 17px;
    color: #fff;
    background: #E02C6D;
    padding: 10px 30px;
    border: 3px solid #E02C6D;
    border-radius: 30px;
    transition: .3s linear;
    font-weight: 600;
}
.pink-button:hover{
    background: transparent;
    color: #E02C6D;
}
.banner-left{
    position: relative;
    overflow: hidden;
    width: 48%;
    height: 100%;
    padding:12px 20px;
}

/*--------------------------
    Border Animation Style  
----------------------------*/
.border{
    background-color: #E02C6D;
    position: absolute;
    transition: .7s ease-in-out;
}
.border.top, .border.bottom{
    height: 4px;
    width: 100%;
}
.border.left, .border.right{
    height: 100%;
    width: 4px;
}
.border.top{
    top: 1px;
    right: 100%;
}
.border.bottom{
    bottom: 0px;
    left: 100%;
}
.border.left{
    left: 0px;
    top: 100%;
}
.border.right{
    right: 0px;
    bottom: 100%;
}
.banner-left:hover .border.top{
    right: 0px;
}
.banner-left:hover .border.bottom{
    left: 0px;
}
.banner-left:hover .border.left{
    top: 5px;
}
.banner-left:hover .border.right{
    bottom: 0px;
}

/*----------------------
   Gallery Area Style  
------------------------*/
.Collection{
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.collect-title{
    font-size: 40px;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 70px;
}
.gallerys{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    align-items: center;
}
.gallery{
    width: 300px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(233, 226, 226);
}
.gallery-title h1{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 500;
    padding-top: 15px;
}
.gallery-title .price{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 400;
    padding: 10px 0px;
}
.gallery-title .fas{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    color: #FB8200;
}
.gallery-title .rating{
    color: #787885;
    font-size: 13px;
    margin-left: 10px;
}
.gallery-title .gallery-text{
    color: #787885;
    padding: 2px 0;
    font-weight: 600;
    font-size: 15px;
}
.content{
    font-size: 20px;
    color: #E02C6D;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: end;
    max-width: 1070px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* contact Area Strat-- */
.contact-form{
    max-width: 1100px;
    margin: auto;
    margin-bottom: 100px;
}
.contact-form h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Bitter', serif;
    text-align: center;
    color:#3A3A3A;
}
.contact-form p{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Bitter', serif;
    text-align: center;
    color:#3A3A3A;
}
.from{
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.contact-image{
    flex: 1;
    text-align: center;
}
.contact-image img{
    width: 100%;
    border-radius: 30px;
    margin-top: 17px; 
    margin-left: -100px; 
}
.contact{
    flex: 1;
}
.contact input,
.contact textarea{
    width: 90%;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px #bbb4ba;
    border: 4px solid #E02C6D;
    border-radius: 25px;
}
.contact label{
    font-size: 16px;
    font-weight: 200;
    color: #3A3A3A;
}
.from-group{
    padding: 10px 0px;
}

/*----------------------
    Footer Area Style 
------------------------*/
footer{
    background: #0A0826;
    max-height: 500px;
}
footer h1{
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
    line-height: 2;
}
footer p{
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
}
.soical-media-icon{
    display: flex;
    justify-content: center;
}
.soical-media-icon .fab{
    color: #fff;
    margin: 20px 10px;
    padding: 7px 7px;
    font-size: 18px;
    background: #41464d;
    border-radius: 50%;
    transition: .3s linear;
}
.soical-media-icon .fab:hover{
    color: #E02C6D;
}

/*--------------------------
        Media Query  
----------------------------*/

/*-------------
    Tab Device 
--------------- */
@media only screen and (min-width: 688px) and (max-width:1202px){
    .container{
        width: 90%;
    }
    .header-tite{
        font-size: 30px;
    }
    nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    nav a, .fas{
        margin-top: 20px; 
        font-size: 20px;
    }


    .banner-title{
        font-size: 40px;
    }
    .banner-right img{
        width: 100%;
    }

    .gallerys{
        grid-template-columns: repeat(2, 1fr);
    }
    .Collection{
        margin: 0 auto;
    }
    .gallery{
        width: 80%;
        margin: 0 auto;
    }
    .gallery img{
        width: 100%;
        margin-top: 20px;
    }
    .gallery-title .fas{
        font-size: 16px;
    }
    .gallery-title .rating{
        font-size: 17px;
    }
    .content{
        width: 90%;
        margin-top: 40px;
    }
    .from{
        flex-direction: column;
    }
    .contact-image{
        width: 80%;
        align-items: center;
    }
}

/*-----------------
    Moblie Device 
------------------- */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .header-tite{
        font-size: 40px;
    }
    nav{
        display: flex;
        flex-direction:column;
    }
    nav a, .fas{
        margin-top: 20px; 
        font-size: 25px;
    }
    .pink-button{
        padding: 5px 10px;
    }
    .navbar{
        flex-direction: column;
    }

    .banner{
        flex-direction: column;
    }
    .banner-title{
        font-size: 34px;
    }
    .banner-text{
        text-align: justify;
        margin-left: 11%;
    }
    .banner-left{
        text-align: center;
    }
    .banner-right img{
        width: 100%;
        margin-top: 50px;
    }
    .gallerys{
        grid-template-columns: repeat(1, 1fr);
    }
    .Collection{
        margin: 0 auto;
    }
    .gallery{
        width: 80%;
        margin: 0 auto;
    }
    .gallery img{
        width: 100%;
    }
    .gallery-title .fas{
        font-size: 14px;
    }
    .gallery-title .rating{
        font-size: 15px;
    }
    .content{
        width: 90%;
        margin-top: 40px;
    }
    .from{
        flex-direction: column;
    }
   .contact-image{
    width: 80%;
    margin-left:80px; 
   }
}